* {
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  margin: 0;
  background-color: #eeeeee;
  padding: 1px;
}

.body_content {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  padding: 5px;
}

h1, h2, h3, h4, h5, h6 {
  color: #000000;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.button, button {
  border: none;
  background-color: #b3b3b3;
  color: #fff;
  padding: 0.5em 1em;
  margin: 2px;
}

.lightbutton {
  border: none;
  background-color: #eeeeee;
  color: black;
  padding: 0.5em 1em;
  margin: 2px;
}

.button:hover,
.button:focus {
  background-color: #C73C35;
  color: #fff;
}

.box{
  background-color: #eee;
  min-width: 250px;
  padding: 5px;
  text-align: center;
}

.box_area {
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

hr {
  color: #eeeeee;
  margin-top: 1px;
  margin-bottom: 4px;
}

.twocolumnsgrey {
  background-color: #eeeeee;
  column-count: 2;
  padding-left: 5px;
  padding-right: 5px;
}

.twocolumncontent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 5px;
}

.info_column {
  width: 19%;
  padding: 2px;
  background-color: #eeeeee;
}

.main_content {
  width: 79%;
}




