* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  margin: 0;
  background-color: white;
  padding: 1px;
}

h1, h2, h3, h4, h5, h6 {
  color: #000000;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.button, button {
  border: none;
  background-color: #b3b3b3;
  color: #fff;
  padding: 0.5em 1em;
  margin: 2px;
}

.button:hover,
.button:focus {
  background-color: #C73C35;
}

.box{
  background-color: #eee;
  min-width: 250px;
  padding: 5px;
  text-align: center;
}

.box_area {
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}





