@font-face {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("./fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("./fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("./fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("./fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url("./fonts/OpenSans-Regular.ttf") format("truetype"), url("./fonts/OpenSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url("./fonts/OpenSans-Italic.ttf") format("truetype"), url("./fonts/OpenSans-Italic.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("./fonts/OpenSans-Bold.ttf") format("truetype"), url("./fonts/OpenSans-Bold.woff") format("woff");
}

* {
  box-sizing: border-box;
  word-wrap: break-word;
}

body {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: #fafafa;
  padding: 1px;
  text-rendering: optimizeLegibility;
}

.body_content {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid #eeeeee;
}

.content_container {
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
}

h1, h2, h3, h4, h5, h6 {
  color: #000000;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  font-weight: normal;
  line-height: 1.4;
}

p {
  line-height: 1.6;
  margin-bottom: 1rem;
}

.info_column_right p {
  margin-bottom: 0;
}

.button, button {
  border: none;
  background-color: #b3b3b3;
  color: #fff;
  padding: 0.5em 1em;
  margin: 2px;
  font-size: 1rem;
}

.lightbutton {
  border: none;
  background-color: #fafafa;
  color: black;
  padding: 0.5em 1em;
  margin: 2px;
}

.button:hover,
.button:focus {
  background-color: #C73C35;
  color: #fff;
}

.box{
  background-color: #fafafa;
  width: 175px;
  text-align: center;
  border: 1px solid #eeeeee;
  margin: 15px;
}

.box_area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: -15px;
  margin-right: -15px;
}

.header_content hr {
  border: solid 1px #eeeeee;
  margin-top: 1px;
  margin-bottom: 1rem;
}

.header_content hr {
  border: solid 1px #eeeeee;
  margin-top: 1px;
  margin-bottom: 4px;
}

.columnsgrey {
  background-color: #fafafa;
  column-count: 2;
  padding: 15px;
}

.columnsgrey p {
  padding-left: 15px;
  padding-right: 15px;
}

.twocolumncontent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 5px;
}

.info_column_right {
  width: 23%;
  background-color: #eeeeee;
}

.info_column_right p {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.info_column_top {
  display: none;
}

.main_content {
  width: 75%;
}

a, a:visited {
  color: #C73C35;
  text-decoration: underline;
}

a:hover, a:active, a:focus {
  color: black;
  background-color: #FFCC00;
}

.bb-ifa {
  color: #C73C35;
  display: inline-block;
  font: normal normal normal 70px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 15px;
}

.button:hover .bb-ifa,
.button:focus .bb-ifa{
  background-color: #C73C35;
  color: #fff;
}


.breadcrumb i {
  color: #C73C35;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

label {
  font-size: 1rem;
}

input {
  font-size: 1rem;
}

.hidebigscreen {
  display: none;
}

/*Pagination*/

.pagination {
  display: -ms-flexbox;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
  padding-top: 15px;
  padding-bottom: 15px;
}

.flex-fill {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.page-link {
  position: relative;
  display: block;
  padding: 10px 5px;
  color: #C73C35;
  background-color: #fff;
  border: 1px solid #eeeeee;
  text-align: center;
}

.page-link:hover {
  z-index: 2;
  color: #C73C35;
  text-decoration: none;
  background-color: #eeeeee;
  border-color: #eeeeee;
}

.page-link:focus {
  z-index: 2;
  outline: 0;
  color: #C73C35;
  background-color: #eeeeee;
  box-shadow: 0 0 0 0 #C73C35;
}

.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #C73C35;
  border-color: #C73C35;
}

.page-item.disabled .page-link {
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #eeeeee;
}

.pagination-lg .page-link {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.pagination-lg .page-item:first-child .page-link {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.pagination-lg .page-item:last-child .page-link {
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.pagination-sm .page-link {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
}

.pagination-sm .page-item:first-child .page-link {
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

.pagination-sm .page-item:last-child .page-link {
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}

/*Date Picker*/

.vdp-datepicker, .vdp-datepicker input {
  width: 100%;
}

.vdp-datepicker__calendar {
  float: right;
  position: relative !important;
}

.date_input {
  padding-top: 4px;
  padding-bottom: 4px;
  width: 100%;
}

.vdp-datepicker__calendar .cell.selected {
  background: #C73C35 !important;
  color: white !important;
}

.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover, .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month:hover, .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year:hover {
  border: 1px solid #C73C35 !important;
}

@media (max-width: 640px) {

  .info_column_right {
    display: none;
  }

  .info_column_top {
    width: 100%;
    display: block;
    padding: 2px;
    background-color: #eeeeee;
  }

  .main_content {
    width: 100%;
  }

  .hidesmallscreen {
    display: none;
  }

  .hidebigscreen {
    display: block;
  }

  body {
    padding: 0;
  }

  .body_content {
    margin: 0;
    width: 100%;
  }

  .columnsgrey {
    column-count: 1;
    padding: 5px;
  }

  .columnsgrey p {
    padding-right: 5px;
    padding-left: 5px;
  }

  .menu {
    padding-left: 0;
  }

  .box_area {
    margin: -5px;
  }

  .box{
    background-color: #fafafa;
    min-width: auto;
    width: 100%;
    text-align: center;
    border: 1px solid #eeeeee;
    margin: 5px;
  }

  .bb-ifa {
    color: #C73C35;
    display: inline-block;
    font: normal normal normal 35px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-bottom: 0;
  }

  .content_container {
    padding-left: 10px;
    padding-right: 10px;
  }
}





